{% extends 'base.html.twig' %}

{% block title 'Admin' %}

{% block body %}

    <!-- temp style -->
    <div class="card mb-4">
        <div class="card-body">
            <div class="text-primary" style="font-size: 2rem; font-weight: bold">
                <a href="{{ path('admin.annonce.index') }}">Annonce</a> <br>
                <a href="{{ path('admin.home.index') }}">home</a> <br>
            </div>
        </div>
    </div>

{% endblock %}



